.card {
	border: 1px solid #ddd;
	border-radius: 8px;
  width: auto;
  height: auto;
  padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid red;
	.card_image {
		img {
			border: 2px solid yellow;
				height: auto;
				width: 100%;
		}
	}

	.card_content {
	display: flex;
  flex-direction: column;
  gap: 10px;

		h2 {
			font-size: 18px;
			font-weight: 600;
		}

		p {
			font-size: 17px;
			color: red;
		}
    .review{
      display: flex;
      gap: 10px;
      .numReview{
        color:rgb(90, 87, 87);
        font-size: 17px;
      }
      }

		button {
			background-color: black;
			color: white;
			border: none;
			padding: 10px;
			cursor: pointer;
			border-radius: 4px;
			width: 100%;
			&:hover {
				background-color: rgb(83, 80, 80);
			}
		}
	}
}
